#dateBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 17rem;
    user-select: none;
}

#date {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.15rem;
    width: 10rem;
    text-align: center;
}