#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 1rem;
    right: 1.5rem;
}

#name {
    font-size: 1.75rem;
    margin-right: 1rem;
}

#icon {
    width: 2.5rem;
    height: 2.5rem;
}